.container {
  .content {
    textarea {
      width: 560px;
      height: 800px;
      &:nth-child(2) {
        margin-left: 20px;
      }
    }
    .html {
      float: right;
      width: 560px;
      height: 800px;
      padding: 8px;
      border: 1px solid #e1e1e1;
    }
  }
}

.ml-20 {
  margin-left: 20px;
}