header {
  height: 3.6rem;
  margin-bottom: 3.6rem;
  // background: #151515;
  box-shadow: 0 2px 8px #f0f1f2;
  position: fixed;
  width: 100%;
  nav {
    width: 94%;
    max-width: 1200px;
    margin: 0 auto;
    ul {
      font-size: 0;
      line-height: 4rem;
      li {
        display: inline-block;
        font-size: .7rem;
        padding: 0 1rem;
        a {
          // color: #fff;
        }
      }
    }
  }
}
