header {
  height: 4rem;
  background: #151515;
}
nav {
  width: 94%;
  max-width: 980px;
  margin: 0 auto;
}
nav ul {
  font-size: 0;
  line-height: 4rem;
}
nav ul li {
  display: inline-block;
  font-size: .7rem;
  padding: 0 1rem;
}

