header {
  height: 4rem;
  background: #151515;
  nav {
    width: 94%;
    max-width: 1200px;
    margin: 0 auto;
    ul {
      font-size: 0;
      line-height: 4rem;
      li {
        display: inline-block;
        font-size: .7rem;
        padding: 0 1rem;
        a {
          color: #fff;
        }
      }
    }
  }
}
