footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: .7rem;
  font-family: "poppins-regular", sans-serif;
  background: #151515;
}
footer .copyright {
  line-height: 2;
}

.hrefs {
  text-align: right;
}
.hrefs li {
  display: inline-block;
  padding: 0 1rem;
}
.hrefs .icon {
  width: 1rem;
  height: 1rem;
  margin-top: .2rem;
}

@media only screen and (max-width: 768px) {
  footer .hrefs {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: .75rem;
  }
  footer .tab-full {
    width: 100%;
    float: none;
  }
  footer .copyright span {
    display: block;
    text-align: center;
  }
}


.row {
  width: 94%;
  max-width: 980px;
  margin: 0 auto;
  color: #6e6e6e;
}
.col-six {
  width: 50%;
}
