<div class="post">
  <section class="header">
    <span class="meta-info">2017-11-05 Ghost Comments</span>
    <span class="title">
      <a routerLink="post/detail">this is the title</a>
    </span>
  </section>
  <section class="content clearfix">
    <a href="" class="img">
      <img src="../../../../../assets/images/qiaoba.jpg" alt="">
    </a>
    <span class="text">this is the text content and i just want to add more info, so that i can see the result this is the text content and i just want to add more info, so that i can see the result this is the text content and i just want to add more info, so that i can see the result this is the text content and i just want to add more info, so that i can see the result this is the text content and i just want to add more info, so that i can see the result</span>
    <div class="more">
      <a href="" class="read-more">Read more ></a>
    </div>
  </section>
</div>