<div class="container">
  <div class="lf-content">
    <div class="lf-item clear-fix">
      <img src="../../../assets//images/qiaoba.jpg" alt="">
      <div class="lf-right-content">
        <div class="header">
          <span class="time">2018.8.26</span>
          <span class="location">Chine ` shenzhen</span>
        </div>
        <div class="body">
          有的时候心态突然就崩了，坐在路边的石墩上，动都不想动。
        </div>
      </div>
    </div>
  </div>
  <div class="lf-add-new">
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <sd-button type="default">确定</sd-button>
  </div>
</div>