.container {
  width: 1200px;
  margin: 20px auto;
  .lf-content {
    .lf-item {
      border: 1px solid #e1e1e1;
      border-radius: 5px;
      img {
        float: left;

      }
      .lf-right-content {
        padding: 5px 10px;
      }
    }
  }
  .lf-add-new {
    margin: 20px 0;
    textarea {
      width: 100%;
      padding: 5px 10px;
      border-color: #e1e1e1;
    }
  }
}

.clear-fix:before,.clear-fix:after {
  content:"";
  display:table;
}
.clear-fix:after { clear:both; }